.pagNoticias .notTer .new4, .pagNoticias .notTer .new3, .pagNoticias .notTer .new2, .pagNoticias .notTer .new1, .pagNoticias .notSec .new2, .pagNoticias .notSec .new1, .pagIndex .info2 .new4, .pagIndex .info2 .new3, .pagIndex .info2 .new2, .pagIndex .info2 .new1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 267px;
  cursor: pointer;
  transition: padding 0.5s;
}
.pagNoticias .notTer .new4:hover, .pagNoticias .notTer .new3:hover, .pagNoticias .notTer .new2:hover, .pagNoticias .notTer .new1:hover, .pagNoticias .notSec .new2:hover, .pagNoticias .notSec .new1:hover, .pagIndex .info2 .new4:hover, .pagIndex .info2 .new3:hover, .pagIndex .info2 .new2:hover, .pagIndex .info2 .new1:hover {
  padding: 10px;
}

.pagIndex {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 2.5fr 2fr;
  grid-template-rows: 2fr 3.5fr 1.5fr 3.5fr;
  grid-template-areas: "titulos titulos titulos titulos" "info info info puestos" "info2 info2 info2 info2" "part part part part";
  height: 1750px;
}
.pagIndex .titulos {
  color: #F2F2F2;
  text-align: center;
  font-family: Impact;
  font-style: italic;
  line-height: 0px;
  grid-area: titulos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #071D26;
}
.pagIndex .titulos__title {
  font-size: 100px;
  font-weight: lighter;
}
.pagIndex .titulos__subtitle {
  font-size: 35px;
  font-weight: lighter;
}
.pagIndex .puestos {
  text-align: center;
  grid-area: puestos;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: stretch;
}
.pagIndex .puestos .rank span {
  font-family: FranklinGothic2;
  font-weight: bolder;
  color: #071D26;
}
.pagIndex .puestos .rank a {
  width: 205px;
  display: flex;
}
.pagIndex .puestos .rank a iframe {
  display: flex;
  justify-content: center;
}
.pagIndex .info {
  font-family: FranklinGothic;
  color: #071D26;
  grid-area: info;
  justify-content: center;
  transition: color 0.5s;
}
.pagIndex .info:hover {
  color: #052A43;
}
.pagIndex .info .un {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.pagIndex .info .base {
  display: flex;
  cursor: pointer;
}
.pagIndex .info .base .txt {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.pagIndex .info .base .txt .title {
  font-size: 40px;
  text-decoration: none;
  margin-right: 20px;
  color: #071D26;
  transition: color 0.5s;
}
.pagIndex .info .base .txt .title:hover {
  color: #052A43;
}
.pagIndex .info .base .txt .resume {
  font-family: FranklinGothic2;
  font-weight: bolder;
  margin-right: 20px;
  color: #071D26;
}
.pagIndex .info .base .pic {
  margin-left: 20px;
}
.pagIndex .info .base .pic img {
  border: solid 5px #CCD5D9;
  width: 400px;
  height: 400px;
}
.pagIndex .info2 {
  grid-area: info2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "new1 new2 new3 new4";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pagIndex .info2 .new1 {
  grid-area: new1;
}
.pagIndex .info2 .new2 {
  grid-area: new2;
}
.pagIndex .info2 .new3 {
  grid-area: new3;
}
.pagIndex .info2 .new4 {
  grid-area: new4;
}
.pagIndex .new__pic {
  display: flex;
  justify-content: center;
}
.pagIndex .new__pic img {
  border: solid 5px #CCD5D9;
  width: 267px;
}
.pagIndex .new__txt {
  display: flex;
  text-align: center;
  color: #071D26;
  font-family: FranklinGothic;
  font-size: 20px;
  transition: color 0.5s;
}
.pagIndex .new__txt:hover {
  color: #052A43;
}
.pagIndex .wcf {
  grid-area: part;
}
.pagIndex .wcf h1 {
  color: #071D26;
  font-family: FranklinGothic;
  margin-left: 20px;
}
.pagIndex .wcf .wcf2 {
  display: flex;
  justify-content: space-evenly;
}
.pagIndex .wcf .wcf2 .partidos {
  width: 748px;
  height: 420px;
}
.pagIndex .wcf .wcf2 .partidos img {
  width: 598.4px;
  height: 420px;
  border: solid 5px #CCD5D9;
}
.pagIndex .wcf .wcf2 .partidos .games h5 {
  -webkit-text-stroke: 0.5px #071D26;
  color: #F2F2F2;
  font-weight: bolder;
  background-color: black;
}
.pagIndex .wcf .wcf2 .partidos .games p {
  -webkit-text-stroke: 0.25px #071D26;
  color: #F2F2F2;
  font-weight: bolder;
  background-color: black;
}
.pagIndex .wcf .wcf2 .stats {
  width: 290px;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card {
  overflow: hidden;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card .card-body h5 {
  font-weight: bolder;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card .card-body p {
  font-weight: bolder;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-gsw .card {
  background-image: url(../../images/gsw_wallpaper.png);
  background-repeat: no-repeat;
  background-size: 380px;
  background-position: -45px 0px;
  border: solid 5px #034C8C;
  z-index: 50;
  border-radius: 0px;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-gsw .card img {
  border-bottom: solid 2.5px #034C8C;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-gsw .card .card-body {
  background-color: #034C8C;
  border-radius: 0px;
  height: 80px;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-gsw .card .card-body .card-title {
  color: #F29F05;
  font-family: Impact;
  font-style: italic;
  font-size: 15px;
  font-weight: lighter;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-gsw .card .card-body .card-text {
  color: white;
  font-family: Impact;
  font-size: 20px;
  font-weight: lighter;
  -webkit-text-stroke: 0.5px black;
  display: flex;
  justify-content: space-between;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-gsw .card .list-group {
  border-radius: 0px;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-gsw .card .list-group .list-group-item {
  background-color: #F29F05;
  color: #034C8C;
  font-family: Impact;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-dallas .card {
  background-image: url(../../images/dallas_wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -250px;
  border: solid 5px #071D26;
  z-index: 50;
  border-radius: 0px;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-dallas .card img {
  border-bottom: solid 2.5px #071D26;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-dallas .card .card-body {
  background-color: #071D26;
  border-radius: 0px;
  height: 80px;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-dallas .card .card-body .card-title {
  color: #0367A6;
  font-family: Impact;
  font-style: italic;
  font-size: 15px;
  font-weight: lighter;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-dallas .card .card-body .card-text {
  color: #F2F2F2;
  font-family: Impact;
  font-size: 20px;
  font-weight: lighter;
  -webkit-text-stroke: 0.5px black;
  display: flex;
  justify-content: space-between;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-dallas .card .list-group {
  border-radius: 0px;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item-dallas .card .list-group .list-group-item {
  background-color: #052A43;
  color: #CCD5D9;
  font-family: Impact;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

@media screen and (max-width: 360px) and (max-height: 852px) {
  .pagIndex {
    display: grid;
    grid-template-rows: 2fr 3.5fr 2fr 3.5fr 3.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: "titulos" "info" "puestos" "info2" "part";
    height: 900px;
  }
  .pagIndex .titulos {
    color: #F2F2F2;
    text-align: center;
    font-family: Impact;
    font-style: italic;
    line-height: 0px;
    grid-area: titulos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #071D26;
  }
  .pagIndex .titulos__title {
    font-size: 30px;
    font-weight: lighter;
  }
  .pagIndex .titulos__subtitle {
    font-size: 15px;
    font-weight: lighter;
  }
  .pagIndex .info .un {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  .pagIndex .info .base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pagIndex .info .base .txt {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .pagIndex .info .base .txt .title {
    font-size: 20px;
  }
  .pagIndex .info .base .txt .resume {
    display: none;
  }
  .pagIndex .info .base .pic {
    display: flex;
    margin-left: 7px;
  }
  .pagIndex .info .base .pic img {
    border: solid 5px #CCD5D9;
    width: 250px;
    height: 250px;
  }
  .pagIndex .puestos {
    text-align: center;
    grid-area: puestos;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pagIndex .puestos .rank {
    width: 125px;
  }
  .pagIndex .puestos .rank span {
    font-family: FranklinGothic2;
    font-weight: bolder;
    color: #071D26;
    font-size: small;
  }
  .pagIndex .puestos .rank a iframe {
    width: 125px;
    height: 100px;
  }
  .pagIndex .info2 {
    grid-area: info2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "new1 new2" "new3 new4";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .pagIndex .info2 .new1 {
    grid-area: new1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .pagIndex .info2 .new2 {
    grid-area: new2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    transition: padding 0.5s;
    cursor: pointer;
  }
  .pagIndex .info2 .new3 {
    grid-area: new3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    transition: padding 0.5s;
    cursor: pointer;
  }
  .pagIndex .info2 .new4 {
    grid-area: new4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    transition: padding 0.5s;
    cursor: pointer;
  }
  .pagIndex .new__pic {
    display: flex;
    justify-content: center;
  }
  .pagIndex .new__pic img {
    border: solid 5px #CCD5D9;
    width: 125px;
  }
  .pagIndex .new__txt {
    display: flex;
    text-align: center;
    color: #071D26;
    font-family: FranklinGothic;
    font-size: small;
    transition: color 0.5s;
  }
  .pagIndex .new__txt:hover {
    color: #052A43;
  }
  .pagIndex .wcf {
    display: none;
    grid-area: part;
  }
  .pagIndex .wcf h1 {
    color: #071D26;
    font-family: FranklinGothic;
  }
  .pagIndex .wcf .wcf2 {
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-rows: "partido" "stats";
  }
  .pagIndex .wcf .wcf2 .partidos {
    grid-area: partido;
    width: 748px;
    height: 420px;
  }
  .pagIndex .wcf .wcf2 .partidos img {
    width: 598.4px;
    height: 420px;
    border: solid 5px #CCD5D9;
  }
  .pagIndex .wcf .wcf2 .partidos .games h5 {
    -webkit-text-stroke: 0.5px #071D26;
    color: #F2F2F2;
    font-weight: bolder;
    background-color: black;
  }
  .pagIndex .wcf .wcf2 .partidos .games p {
    -webkit-text-stroke: 0.25px #071D26;
    color: #F2F2F2;
    font-weight: bolder;
    background-color: black;
  }
  .pagIndex .wcf .wcf2 .stats {
    grid-area: stats;
  }
  .pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card {
    width: 150px;
    overflow: hidden;
  }
  .pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card .card-body h5 {
    font-weight: bolder;
  }
  .pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card .card-body p {
    font-weight: bolder;
  }
}
.pagNoticias {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1.5fr;
  grid-template-rows: 150px 7fr 3fr;
  grid-template-areas: "titulo titulo titulo" "notPrin notPrin notSec" "notTer notTer notTer";
  height: 1100px;
}
.pagNoticias .titulo {
  grid-area: titulo;
  color: #F2F2F2;
  text-align: start;
  font-family: Impact;
  font-style: italic;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #071D26;
}
.pagNoticias .titulo h2 {
  font-size: 80px;
  margin-left: 15px;
  font-weight: lighter;
}
.pagNoticias .notPrin {
  grid-area: notPrin;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.pagNoticias .notPrin a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notPrin a img {
  border: solid 5px #CCD5D9;
  display: inline;
  height: 500px;
}
.pagNoticias .notPrin h1 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 40px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notPrin h1:hover {
  color: #052A43;
}
.pagNoticias .notSec {
  grid-area: notSec;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "new1" "new2";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pagNoticias .notSec .new1 {
  grid-area: new1;
}
.pagNoticias .notSec .new1 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notSec .new1 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notSec h2 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notSec .new2 {
  grid-area: new2;
}
.pagNoticias .notSec .new2 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notSec .new2 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notTer {
  grid-area: notTer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "new1 new2 new3 new4";
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pagNoticias .notTer .new1 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notTer .new1 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notTer .new1 h2 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notTer .new1 h2:hover {
  color: #052A43;
}
.pagNoticias .notTer .new2 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notTer .new2 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notTer .new2 h2 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notTer .new2 h2:hover {
  color: #052A43;
}
.pagNoticias .notTer .new3 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notTer .new3 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notTer .new3 h2 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notTer .new3 h2:hover {
  color: #052A43;
}
.pagNoticias .notTer .new4 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notTer .new4 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notTer .new4 h2 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notTer .new4 h2:hover {
  color: #052A43;
}

@media screen and (max-width: 360px) and (max-height: 852px) {
  .pagNoticias {
    display: grid;
    grid-template-rows: 100px 5fr 3fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "notPrin" "notSec" "notTer";
    height: 852px;
  }
  .pagNoticias .titulo {
    grid-area: titulo;
    color: #F2F2F2;
    text-align: start;
    font-family: Impact;
    font-style: italic;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #071D26;
  }
  .pagNoticias .titulo h2 {
    font-size: 35px;
    margin-left: 10px;
    font-weight: lighter;
  }
  .pagNoticias .notPrin {
    grid-area: notPrin;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }
  .pagNoticias .notPrin a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notPrin a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 280px;
    height: 200px;
  }
  .pagNoticias .notPrin h1 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notPrin h1:hover {
    color: #052A43;
  }
  .pagNoticias .notSec {
    display: none;
    grid-area: notSec;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "new1 new2";
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .pagNoticias .notSec .new1 {
    grid-area: new1;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    width: 140px;
    transition: padding 0.5s;
  }
  .pagNoticias .notSec .new1 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notSec .new1 a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 140px;
    height: 100px;
  }
  .pagNoticias .notSec .new1:hover {
    padding: 10px;
  }
  .pagNoticias .notSec h2 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notSec .new2 {
    grid-area: new2;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    width: 140px;
    transition: padding 0.5s;
  }
  .pagNoticias .notSec .new2 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notSec .new2 a img {
    width: 140px;
    height: 100px;
    border: solid 2px #CCD5D9;
    display: inline;
  }
  .pagNoticias .notSec .new2:hover {
    padding: 10px;
  }
  .pagNoticias .notTer {
    display: none;
    grid-area: notTer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "new1 new2" "new3 new4";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .pagNoticias .notTer .new1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .pagNoticias .notTer .new1 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notTer .new1 a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 140px;
    height: 100px;
  }
  .pagNoticias .notTer .new1 h2 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notTer .new1 h2:hover {
    color: #052A43;
  }
  .pagNoticias .notTer .new1:hover {
    padding: 10px;
  }
  .pagNoticias .notTer .new2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .pagNoticias .notTer .new2 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notTer .new2 a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 140px;
    height: 100px;
  }
  .pagNoticias .notTer .new2 h2 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notTer .new2 h2:hover {
    color: #052A43;
  }
  .pagNoticias .notTer .new2:hover {
    padding: 10px;
  }
  .pagNoticias .notTer .new3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .pagNoticias .notTer .new3 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notTer .new3 a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 140px;
    height: 100px;
  }
  .pagNoticias .notTer .new3 h2 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notTer .new3 h2:hover {
    color: #052A43;
  }
  .pagNoticias .notTer .new3:hover {
    padding: 10px;
  }
  .pagNoticias .notTer .new4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .pagNoticias .notTer .new4 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notTer .new4 a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 140px;
    height: 100px;
  }
  .pagNoticias .notTer .new4 h2 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notTer .new4 h2:hover {
    color: #052A43;
  }
  .pagNoticias .notTer .new4:hover {
    padding: 10px;
  }
}
.pagPlantilla {
  display: grid;
  grid-template-rows: 150px 4fr;
  grid-template-areas: "titulo" "cards";
  height: 2050px;
}
.pagPlantilla .titulo {
  grid-area: titulo;
  color: #F2F2F2;
  text-align: start;
  font-family: Impact;
  font-style: italic;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #071D26;
}
.pagPlantilla .titulo h1 {
  font-size: 80px;
  margin-left: 15px;
  font-weight: lighter;
}
.pagPlantilla .players {
  grid-area: cards;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
.pagPlantilla .players .card {
  width: 18rem;
  border: solid 2.5px #071D26;
  z-index: 50;
  height: 447px;
  background-image: url(../../images/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pagPlantilla .players .card .number {
  display: flex;
  justify-content: right;
}
.pagPlantilla .players .card .number h2 {
  position: absolute;
  font-family: Impact;
  font-style: italic;
  font-size: 50px;
  margin-right: 20px;
  margin-top: 10px;
  color: #052A43;
  text-shadow: 5px -5px #071D26;
  -webkit-text-stroke: 0.5px #CCD5D9;
}
.pagPlantilla .players .card img {
  border-bottom: solid 2.5px #071D26;
}
.pagPlantilla .players .card .card-body {
  background-color: #071D26;
}
.pagPlantilla .players .card .card-body .card-title {
  text-align: center;
  color: #F2F2F2;
  font-family: Impact;
  font-style: italic;
  font-size: x-large;
  font-weight: lighter;
  text-shadow: 2px -1px 2px black;
  -webkit-text-stroke: 0.5px black;
}
.pagPlantilla .players .card .card-body .card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #F2F2F2;
  font-family: Impact;
  font-weight: lighter;
  -webkit-text-stroke: 0.2px black;
  border-top: solid #052A43;
}
.pagPlantilla .players .card .card-body .card-text div {
  margin-top: 15px;
}
.pagPlantilla .players .card .list-group {
  border-radius: 0px;
}
.pagPlantilla .players .card .list-group .list-group-item {
  background-color: #052A43;
  color: #F2F2F2;
  font-family: Impact;
  font-weight: lighter;
  -webkit-text-stroke: 0.2px black;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

@media screen and (max-width: 360px) {
  .pagPlantilla {
    display: grid;
    grid-template-rows: 100px 4fr;
    grid-template-areas: "titulo" "cards";
    height: 5000px;
  }
  .pagPlantilla .titulo {
    grid-area: titulo;
    color: #F2F2F2;
    text-align: start;
    font-family: Impact;
    font-style: italic;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #071D26;
  }
  .pagPlantilla .titulo h1 {
    font-size: 35px;
    margin-left: 10px;
    font-weight: lighter;
  }
  .pagPlantilla .players {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .pagPlantilla .players .card {
    border: solid 2.5px #071D26;
    z-index: 50;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 15rem;
    background-image: url(../../images/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pagPlantilla .players .card .number {
    display: flex;
    justify-content: right;
  }
  .pagPlantilla .players .card .number h2 {
    position: absolute;
    font-family: Impact;
    font-style: italic;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 10px;
    color: #052A43;
    text-shadow: 5px -5px #071D26;
    -webkit-text-stroke: 0.5px #CCD5D9;
  }
  .pagPlantilla .players .card img {
    border-bottom: solid 2.5px #071D26;
  }
  .pagPlantilla .players .card .card-body {
    background-color: #071D26;
  }
  .pagPlantilla .players .card .card-body .card-title {
    text-align: center;
    color: #F2F2F2;
    font-family: Impact;
    font-style: italic;
    font-size: x-large;
    font-weight: lighter;
    text-shadow: 2px -1px 2px black;
    -webkit-text-stroke: 0.5px black;
  }
  .pagPlantilla .players .card .card-body .card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #F2F2F2;
    font-family: Impact;
    font-weight: lighter;
    -webkit-text-stroke: 0.2px black;
    border-top: solid #052A43;
  }
  .pagPlantilla .players .card .card-body .card-text div {
    margin-top: 15px;
  }
  .pagPlantilla .players .card .list-group {
    overflow: hidden;
    display: none;
    border-radius: 0px;
  }
  .pagPlantilla .players .card .list-group .list-group-item {
    overflow: hidden;
    display: none;
    background-color: #052A43;
    color: #F2F2F2;
    font-family: Impact;
    font-weight: lighter;
    -webkit-text-stroke: 0.2px black;
    display: flex;
    justify-content: space-between;
    height: 40px;
  }
}
.pagLeyenda {
  display: grid;
  grid-template-rows: 150px 4fr;
  grid-template-areas: "titulo" "cards";
  height: 2000px;
}
.pagLeyenda .titulo {
  grid-area: titulo;
  color: #F2F2F2;
  text-align: start;
  font-family: Impact;
  font-style: italic;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #071D26;
}
.pagLeyenda .titulo h1 {
  font-size: 80px;
  margin-left: 15px;
  font-weight: lighter;
}
.pagLeyenda .players {
  grid-area: cards;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
.pagLeyenda .players .card {
  width: 20rem;
  border: solid 5px #8C7A42;
  border-radius: 12px;
  z-index: 50;
  height: 447px;
  background-color: #D9CCA7;
  height: 400px;
}
.pagLeyenda .players .card .number {
  display: flex;
  justify-content: right;
}
.pagLeyenda .players .card .number h2 {
  position: absolute;
  font-family: Impact;
  font-style: italic;
  font-size: 50px;
  margin-right: 20px;
  margin-top: 10px;
  color: #D9CCA7;
  text-shadow: 5px -5px #8C7A42;
  -webkit-text-stroke: 0.5px #8C7A42;
}
.pagLeyenda .players .card .number img {
  position: absolute;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
}
.pagLeyenda .players .card img {
  height: 200px;
  border-radius: 7px;
}
.pagLeyenda .players .card .card-body {
  background-color: #D9CCA7;
}
.pagLeyenda .players .card .card-body div {
  display: flex;
  justify-content: end;
}
.pagLeyenda .players .card .card-body div img {
  height: 30px;
  position: absolute;
}
.pagLeyenda .players .card .card-body .card-title {
  color: #261501;
  font-family: Impact;
  font-style: italic;
  font-size: x-large;
  font-weight: lighter;
  text-align: center;
}
.pagLeyenda .players .card .card-body .card-text {
  color: #261501;
  font-family: Impact;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: solid #8C7A42;
}
.pagLeyenda .players .card .card-body .card-text div {
  margin-top: 15px;
}
.pagLeyenda .players .list-group .list-group-item {
  background-color: #8C7A42;
  color: #261501;
  font-family: Impact;
  font-weight: lighter;
  display: flex;
  justify-content: space-evenly;
  height: 40px;
}

@media screen and (max-width: 360px) {
  .pagLeyenda {
    display: grid;
    grid-template-rows: 100px 4fr;
    grid-template-areas: "titulo" "cards";
    height: 4500px;
  }
  .pagLeyenda .titulo {
    grid-area: titulo;
    color: #F2F2F2;
    text-align: start;
    font-family: Impact;
    font-style: italic;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #071D26;
  }
  .pagLeyenda .titulo h1 {
    font-size: 35px;
    margin-left: 10px;
    font-weight: lighter;
  }
  .pagLeyenda .players {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .pagLeyenda .players .card {
    width: 15rem;
    border: solid 5px #8C7A42;
    border-radius: 12px;
    z-index: 50;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #D9CCA7;
  }
  .pagLeyenda .players .card .number {
    display: flex;
    justify-content: right;
  }
  .pagLeyenda .players .card .number h2 {
    position: absolute;
    font-family: Impact;
    font-style: italic;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 10px;
    color: #D9CCA7;
    text-shadow: 5px -5px #8C7A42;
    -webkit-text-stroke: 0.5px #8C7A42;
  }
  .pagLeyenda .players .card .number img {
    position: absolute;
    height: 50px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .pagLeyenda .players .card img {
    height: 200px;
    border-radius: 7px;
  }
  .pagLeyenda .players .card .card-body {
    background-color: #D9CCA7;
  }
  .pagLeyenda .players .card .card-body div {
    display: flex;
    justify-content: end;
  }
  .pagLeyenda .players .card .card-body div img {
    height: 30px;
    position: absolute;
  }
  .pagLeyenda .players .card .card-body .card-title {
    color: #261501;
    font-family: Impact;
    font-style: italic;
    font-size: x-large;
    font-weight: lighter;
    text-align: center;
  }
  .pagLeyenda .players .card .card-body .card-text {
    color: #261501;
    font-family: Impact;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: solid #8C7A42;
  }
  .pagLeyenda .players .card .card-body .card-text div {
    margin-top: 15px;
  }
  .pagLeyenda .players .list-group {
    display: none;
    overflow: hidden;
  }
  .pagLeyenda .players .list-group .list-group-item {
    display: none;
    overflow: hidden;
    background-color: #8C7A42;
    color: #261501;
    font-family: Impact;
    font-weight: lighter;
    display: flex;
    justify-content: space-evenly;
    height: 0px;
  }
}
.pag2011 {
  height: 1800px;
}
.pag2011 .titulo {
  height: 150px;
  color: #F2F2F2;
  text-align: start;
  font-family: Impact;
  font-style: italic;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #071D26;
}
.pag2011 .titulo h1 {
  font-size: 80px;
  margin-left: 15px;
  font-weight: lighter;
}
.pag2011 .subtitulo {
  margin-left: 10px;
  margin-right: 10px;
}
.pag2011 .subtitulo p {
  font-family: FranklinGothic2;
  font-weight: bolder;
  color: #071D26;
  font-size: 20px;
}
.pag2011 .subtitulo div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.pag2011 .subtitulo div img {
  border: solid 5px #CCD5D9;
  height: 500px;
}
.pag2011 .cuerpo .quinteto {
  background-color: #071D26;
  height: 500px;
}
.pag2011 .cuerpo .quinteto h3 {
  margin-left: 20px;
  font-family: FranklinGothic;
  color: #F2F2F2;
  font-size: 50px;
  -webkit-text-stroke: 0.5px;
}
.pag2011 .cuerpo .quinteto .cards {
  display: flex;
  justify-content: space-evenly;
}
.pag2011 .cuerpo .quinteto .cards .card {
  width: 15rem;
  border: solid 2.5px #CCD5D9;
  z-index: 50;
  background-image: url(../../../images/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pag2011 .cuerpo .quinteto .cards .card .number {
  display: flex;
  justify-content: right;
}
.pag2011 .cuerpo .quinteto .cards .card .number h2 {
  position: absolute;
  font-family: Impact;
  font-style: italic;
  font-size: 50px;
  margin-right: 20px;
  margin-top: 10px;
  color: #052A43;
  text-shadow: 5px -5px #071D26;
  -webkit-text-stroke: 0.5px #CCD5D9;
}
.pag2011 .cuerpo .quinteto .cards .card img {
  border-bottom: solid 2.5px #CCD5D9;
}
.pag2011 .cuerpo .quinteto .cards .card .card-body {
  background-color: #052A43;
}
.pag2011 .cuerpo .quinteto .cards .card .card-body .card-title {
  text-align: center;
  color: #F2F2F2;
  font-family: Impact;
  font-style: italic;
  font-size: x-large;
  font-weight: lighter;
  text-shadow: 2px -1px 2px black;
  -webkit-text-stroke: 0.5px black;
}
.pag2011 .cuerpo .quinteto .cards .card .card-body .card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #F2F2F2;
  font-family: Impact;
  font-weight: lighter;
  -webkit-text-stroke: 0.2px black;
  border-top: solid #071D26;
}
.pag2011 .cuerpo .quinteto .cards .card .card-body .card-text div {
  margin-top: 15px;
}
.pag2011 .cuerpo .quinteto .cards .card .list-group {
  border-radius: 0px;
}
.pag2011 .cuerpo .quinteto .cards .card .list-group .list-group-item {
  background-color: #F2F2F2;
  color: #071D26;
  font-family: Impact;
  font-weight: lighter;
  -webkit-text-stroke: 0.2px black;
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.pag2011 .cuerpo .bench {
  display: flex;
  justify-content: space-around;
}
.pag2011 .cuerpo .bench .coach {
  display: flex;
  justify-content: center;
  align-items: end;
}
.pag2011 .cuerpo .bench .coach h2 {
  color: #F2F2F2;
  position: absolute;
  font-family: Impact;
  font-style: italic;
  font-size: 50px;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px -2px #071D26;
}
.pag2011 .cuerpo .bench .coach img {
  width: 600px;
  border-radius: 15px;
}
.pag2011 .cuerpo .bench .sub {
  width: 400px;
}
.pag2011 .cuerpo .bench .sub h3 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 50px;
}
.pag2011 .cuerpo .bench .sub ul li {
  list-style: none;
  line-height: 30px;
  display: flex;
  font-family: FranklinGothic2;
}
.pag2011 .cuerpo .bench .sub ul li div {
  font-family: FranklinGothic;
  margin-top: 5px;
  background-color: #052A43;
  margin-right: 10px;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  font-size: small;
  color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 360px) {
  .pag2011 {
    height: 1850px;
  }
  .pag2011 .titulo {
    height: 100px;
    color: #F2F2F2;
    text-align: start;
    font-family: Impact;
    font-style: italic;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #071D26;
  }
  .pag2011 .titulo h1 {
    font-size: 30px;
    margin-left: 10px;
    font-weight: lighter;
  }
  .pag2011 .subtitulo {
    margin-left: 10px;
    margin-right: 5px;
  }
  .pag2011 .subtitulo p {
    font-family: FranklinGothic2;
    font-weight: bolder;
    color: #071D26;
    font-size: small;
  }
  .pag2011 .subtitulo div {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  .pag2011 .subtitulo div img {
    border: solid 2px #CCD5D9;
    height: auto;
    width: 300px;
  }
  .pag2011 .cuerpo .quinteto {
    background-color: #071D26;
    height: 700px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .pag2011 .cuerpo .quinteto h3 {
    margin-left: 10px;
    font-family: FranklinGothic;
    color: #F2F2F2;
    font-size: 30px;
    -webkit-text-stroke: 0.5px;
  }
  .pag2011 .cuerpo .quinteto .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .pag2011 .cuerpo .quinteto .cards .card {
    margin-top: 10px;
    width: 150px;
    border: solid 2.5px #CCD5D9;
    z-index: 50;
    background-image: url(../../../images/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pag2011 .cuerpo .quinteto .cards .card .number {
    display: flex;
    justify-content: right;
  }
  .pag2011 .cuerpo .quinteto .cards .card .number h2 {
    position: absolute;
    font-family: Impact;
    font-style: italic;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 10px;
    color: #052A43;
    text-shadow: 5px -5px #071D26;
    -webkit-text-stroke: 0.5px #CCD5D9;
  }
  .pag2011 .cuerpo .quinteto .cards .card img {
    border-bottom: solid 2.5px #CCD5D9;
  }
  .pag2011 .cuerpo .quinteto .cards .card .card-body {
    background-color: #052A43;
  }
  .pag2011 .cuerpo .quinteto .cards .card .card-body .card-title {
    text-align: center;
    color: #F2F2F2;
    font-family: Impact;
    font-style: italic;
    font-size: x-large;
    font-weight: lighter;
    text-shadow: 2px -1px 2px black;
    -webkit-text-stroke: 0.5px black;
  }
  .pag2011 .cuerpo .quinteto .cards .card .card-body .card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #F2F2F2;
    font-family: Impact;
    font-weight: lighter;
    -webkit-text-stroke: 0.2px black;
    border-top: solid #071D26;
    display: none;
    overflow: hidden;
  }
  .pag2011 .cuerpo .quinteto .cards .card .card-body .card-text div {
    margin-top: 15px;
  }
  .pag2011 .cuerpo .quinteto .cards .card .list-group {
    display: none;
    overflow: hidden;
    border-radius: 0px;
  }
  .pag2011 .cuerpo .bench {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .pag2011 .cuerpo .bench .coach {
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .pag2011 .cuerpo .bench .coach h2 {
    color: #F2F2F2;
    position: absolute;
    font-family: Impact;
    font-style: italic;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px -2px #071D26;
  }
  .pag2011 .cuerpo .bench .coach img {
    width: 300px;
    border-radius: 5px;
  }
  .pag2011 .cuerpo .bench .sub {
    margin-top: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .pag2011 .cuerpo .bench .sub h3 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 30px;
    margin-left: 10px;
  }
  .pag2011 .cuerpo .bench .sub ul li {
    list-style: none;
    line-height: 30px;
    display: flex;
    font-family: FranklinGothic2;
  }
  .pag2011 .cuerpo .bench .sub ul li div {
    font-family: FranklinGothic;
    margin-top: 5px;
    background-color: #052A43;
    margin-right: 10px;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    font-size: small;
    color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.pagContacto {
  height: 800px;
  display: grid;
  grid-template-rows: 150px 4fr;
  grid-template-areas: "titulo" "encuesta";
}
.pagContacto .titulo {
  height: 150px;
  color: #F2F2F2;
  text-align: start;
  font-family: Impact;
  font-style: italic;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #071D26;
}
.pagContacto .titulo h1 {
  font-size: 80px;
  margin-left: 15px;
  font-weight: lighter;
}
.pagContacto .titulo h3 {
  font-size: 30px;
  margin-left: 15px;
  font-weight: lighter;
}
.pagContacto .encuesta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.pagContacto .encuesta .datos {
  height: 600px;
  width: 750px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: solid 5px #071D26;
}
.pagContacto .encuesta .datos fieldset {
  font-family: FranklinGothic2;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #071D26;
}
.pagContacto .encuesta .datos fieldset legend {
  height: 100px;
  color: #F2F2F2;
  text-align: start;
  font-family: Impact;
  font-style: italic;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #071D26;
  font-size: 30px;
  text-indent: 15px;
  font-weight: lighter;
}
.pagContacto .encuesta .datos fieldset div {
  margin-left: 15px;
}
.pagContacto .encuesta .datos form {
  background-color: #052A43;
  height: 250px;
  color: #F2F2F2;
  font-family: FranklinGothic2;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pagContacto .encuesta .datos form div {
  margin-left: 15px;
}
.pagContacto .encuesta .datos form div textarea {
  width: 500px;
  height: 100px;
}

@media screen and (max-width: 360px) {
  .pagContacto {
    height: 800px;
    display: grid;
    grid-template-rows: 100px 4fr;
    grid-template-areas: "titulo" "encuesta";
  }
  .pagContacto .titulo {
    height: 100px;
    color: #F2F2F2;
    text-align: start;
    font-family: Impact;
    font-style: italic;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #071D26;
  }
  .pagContacto .titulo h1 {
    font-size: 30px;
    margin-left: 10px;
    font-weight: lighter;
  }
  .pagContacto .titulo h3 {
    display: none;
  }
  .pagContacto .encuesta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .pagContacto .encuesta .datos {
    height: 600px;
    width: 750px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border: solid 5px #F2F2F2;
  }
  .pagContacto .encuesta .datos fieldset {
    font-family: FranklinGothic2;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .pagContacto .encuesta .datos fieldset legend {
    height: 100px;
    color: #071D26;
    text-align: start;
    font-family: Impact;
    font-style: italic;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F2F2;
    font-size: 30px;
    text-indent: 15px;
    font-weight: lighter;
  }
  .pagContacto .encuesta .datos fieldset div {
    margin-left: 5px;
  }
  .pagContacto .encuesta .datos form {
    background-color: #F2F2F2;
    height: 250px;
    color: #071D26;
    font-family: FranklinGothic2;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .pagContacto .encuesta .datos form div {
    margin-left: 5px;
  }
  .pagContacto .encuesta .datos form div textarea {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100px;
  }
}
body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.logo img {
  width: 150px;
  height: 150px;
  margin: 0;
  padding: 0;
}

.pag {
  margin-left: 125px;
  margin-right: 125px;
  background-color: #F2F2F2;
  border: solid 5px #CCD5D9;
  overflow: hidden;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0%;
  z-index: 500;
}

.barraNav nav {
  width: 100%;
  overflow: hidden;
}
.barraNav nav ul {
  display: flex;
  justify-content: stretch;
  padding: 0 50px;
  list-style: none;
}
.barraNav nav ul li {
  justify-self: stretch;
  width: 100%;
}

.barraNav nav ul li a {
  z-index: 500;
  background-color: #071D26;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #F2F2F2;
  list-style: none;
  font-family: Impact;
  font-style: italic;
  font-size: 25px;
  border: solid 5px #F2F2F2;
  padding: 20px 30px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.barraNav nav ul li a:hover {
  background-color: #052A43;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  height: 200px;
  background-color: #071D26;
}
footer div {
  text-decoration: none;
  display: block;
  color: #F2F2F2;
  list-style: none;
  font-family: FranklinGothic2;
  font-weight: lighter;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  line-height: 5px;
}
footer div img {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100px;
}
footer div h3 {
  font-size: small;
  line-height: 5px;
}
footer div h3 a {
  color: #F2F2F2;
  background-color: #052A43;
  padding: 2px 2px;
  color: #F2F2F2;
  text-decoration: none;
  transition: background-color 0.5s;
}
footer div h3 a:hover {
  background-color: black;
  color: #F2F2F2;
}
footer div ul {
  display: flex;
  flex-direction: column;
}
footer div ul li {
  font-size: small;
  line-height: 20px;
  list-style: none;
}
footer div ul li a {
  font-style: italic;
  font-weight: lighter;
  color: #F2F2F2;
  padding: 2px 2px;
  color: #F2F2F2;
  text-decoration: none;
}
footer .social {
  text-align: start;
  align-items: flex-start;
}
footer .social ul {
  display: flex;
  flex-direction: column;
}
footer .social ul li {
  font-size: small;
  line-height: 20px;
  list-style: none;
  font-style: italic;
  font-weight: lighter;
  color: #F2F2F2;
  padding: 2px 2px;
  color: #F2F2F2;
  text-decoration: none;
}
footer .social ul li a {
  font-style: italic;
  font-weight: lighter;
  color: #F2F2F2;
  padding: 2px 2px;
  color: #F2F2F2;
  text-decoration: none;
}

@font-face {
  font-family: Impact;
  src: url("../fonts/impact.ttf");
}
@font-face {
  font-family: FranklinGothic;
  src: url("../fonts/Franklin Gothic Condensed.ttf");
}
@font-face {
  font-family: FranklinGothic2;
  src: url(../fonts/Franklin\ Gothic\ Book\ Regular.ttf);
}
@media screen and (max-width: 360px) {
  .logo {
    display: none;
  }
  .pag {
    margin-left: 15px;
    margin-right: 15px;
    border: solid 2px #CCD5D9;
  }
  .barraNav nav ul {
    padding: 0 5px;
  }
  .barraNav nav ul li {
    justify-self: stretch;
    width: 100%;
  }
  .barraNav nav ul li a {
    font-size: 15px;
    border: solid 3px #F2F2F2;
    padding: 5px 5px;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 100px;
    background-color: #071D26;
  }
  footer div {
    text-decoration: none;
    display: block;
    color: #F2F2F2;
    list-style: none;
    font-family: FranklinGothic2;
    font-weight: lighter;
    font-size: 15px;
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 5px;
  }
  footer div img {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 50px;
  }
  footer div h3 {
    font-size: x-small;
    line-height: 15px;
    text-align: center;
  }
  footer div h3 a {
    color: #F2F2F2;
    background-color: #052A43;
    padding: 2px 2px;
    color: #F2F2F2;
    text-decoration: none;
    transition: background-color 0.5s;
  }
  footer div h3 a:hover {
    background-color: black;
    color: #F2F2F2;
  }
  footer div ul {
    display: flex;
    flex-direction: column;
  }
  footer div ul li {
    font-size: x-small;
    line-height: 5px;
    list-style: none;
  }
  footer div ul li a {
    font-style: italic;
    font-weight: lighter;
    color: #F2F2F2;
    padding: 2px 2px;
    color: #F2F2F2;
    text-decoration: none;
  }
  footer .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: flex-start;
  }
  footer .social h3 {
    display: none;
  }
  footer .social ul {
    display: flex;
    flex-direction: column;
  }
  footer .social ul li {
    font-size: x-small;
    line-height: 10px;
    list-style: none;
    font-style: italic;
    font-weight: lighter;
    color: #F2F2F2;
    padding: 2px 2px;
    color: #F2F2F2;
    text-decoration: none;
  }
  footer .social ul li a {
    font-style: italic;
    font-weight: lighter;
    color: #F2F2F2;
    padding: 2px 2px;
    color: #F2F2F2;
    text-decoration: none;
  }
  footer .social br {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */