.pagNoticias .notTer .new4, .pagNoticias .notTer .new3, .pagNoticias .notTer .new2, .pagNoticias .notTer .new1, .pagNoticias .notSec .new2, .pagNoticias .notSec .new1, .pagIndex .info2 .new4, .pagIndex .info2 .new3, .pagIndex .info2 .new2, .pagIndex .info2 .new1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 267px;
  cursor: pointer;
  transition: padding 0.5s;
}
.pagNoticias .notTer .new4:hover, .pagNoticias .notTer .new3:hover, .pagNoticias .notTer .new2:hover, .pagNoticias .notTer .new1:hover, .pagNoticias .notSec .new2:hover, .pagNoticias .notSec .new1:hover, .pagIndex .info2 .new4:hover, .pagIndex .info2 .new3:hover, .pagIndex .info2 .new2:hover, .pagIndex .info2 .new1:hover {
  padding: 10px;
}

.pagIndex {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 2.5fr 2fr;
  grid-template-rows: 2fr 3.5fr 1.5fr 3.5fr;
  grid-template-areas: "titulos titulos titulos titulos" "info info info puestos" "info2 info2 info2 info2" "part part part part";
  height: 245vh;
}
.pagIndex .titulos {
  color: #F2F2F2;
  text-align: center;
  font-family: Impact;
  font-style: italic;
  line-height: 0px;
  grid-area: titulos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #071D26;
}
.pagIndex .titulos__title {
  font-size: 100px;
  font-weight: lighter;
}
.pagIndex .titulos__subtitle {
  font-size: 35px;
  font-weight: lighter;
}
.pagIndex .puestos {
  text-align: center;
  grid-area: puestos;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: stretch;
}
.pagIndex .puestos .rank span {
  font-family: FranklinGothic2;
  font-weight: bolder;
  color: #071D26;
}
.pagIndex .puestos .rank a {
  width: 205px;
  display: flex;
}
.pagIndex .puestos .rank a iframe {
  display: flex;
  justify-content: center;
}
.pagIndex .info {
  font-family: FranklinGothic;
  color: #071D26;
  grid-area: info;
  justify-content: center;
  transition: color 0.5s;
}
.pagIndex .info:hover {
  color: #052A43;
}
.pagIndex .info .un {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
}
.pagIndex .info .base {
  display: flex;
  cursor: pointer;
}
.pagIndex .info .base .txt {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.pagIndex .info .base .txt .title {
  font-size: 40px;
  text-decoration: none;
  margin-right: 20px;
  color: #071D26;
  transition: color 0.5s;
}
.pagIndex .info .base .txt .title:hover {
  color: #052A43;
}
.pagIndex .info .base .txt .resume {
  font-family: FranklinGothic2;
  font-weight: bolder;
  margin-right: 20px;
  color: #071D26;
}
.pagIndex .info .base .pic {
  margin-left: 20px;
}
.pagIndex .info .base .pic img {
  border: solid 5px #CCD5D9;
  width: 400px;
  height: 400px;
}
.pagIndex .info2 {
  grid-area: info2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "new1 new2 new3 new4";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pagIndex .info2 .new1 {
  grid-area: new1;
}
.pagIndex .info2 .new2 {
  grid-area: new2;
}
.pagIndex .info2 .new3 {
  grid-area: new3;
}
.pagIndex .info2 .new4 {
  grid-area: new4;
}
.pagIndex .new__pic {
  display: flex;
  justify-content: center;
}
.pagIndex .new__pic img {
  border: solid 5px #CCD5D9;
  width: 267px;
}
.pagIndex .new__txt {
  display: flex;
  text-align: center;
  color: #071D26;
  font-family: FranklinGothic;
  font-size: 20px;
  transition: color 0.5s;
}
.pagIndex .new__txt:hover {
  color: #052A43;
}
.pagIndex .wcf {
  grid-area: part;
}
.pagIndex .wcf h1 {
  color: #071D26;
  font-family: FranklinGothic;
}
.pagIndex .wcf .wcf2 {
  display: flex;
  justify-content: space-evenly;
}
.pagIndex .wcf .wcf2 .partidos {
  width: 748px;
  height: 420px;
}
.pagIndex .wcf .wcf2 .partidos img {
  width: 598.4px;
  height: 420px;
  border: solid 5px #CCD5D9;
}
.pagIndex .wcf .wcf2 .partidos .games h5 {
  -webkit-text-stroke: 0.5px #071D26;
  color: #F2F2F2;
  font-weight: bolder;
  background-color: black;
}
.pagIndex .wcf .wcf2 .partidos .games p {
  -webkit-text-stroke: 0.25px #071D26;
  color: #F2F2F2;
  font-weight: bolder;
  background-color: black;
}
.pagIndex .wcf .wcf2 .stats {
  width: 290px;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card {
  overflow: hidden;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card .card-body h5 {
  font-weight: bolder;
}
.pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card .card-body p {
  font-weight: bolder;
}

@media screen and (max-width: 360px) {
  .pagIndex {
    display: grid;
    grid-template-rows: 2fr 3.5fr 2fr 3.5fr 3.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: "titulos" "info" "puestos" "info2" "part";
    height: 200vh;
  }
  .pagIndex .titulos {
    color: #F2F2F2;
    text-align: center;
    font-family: Impact;
    font-style: italic;
    line-height: 0px;
    grid-area: titulos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #071D26;
  }
  .pagIndex .titulos__title {
    font-size: 30px;
    font-weight: lighter;
  }
  .pagIndex .titulos__subtitle {
    font-size: 15px;
    font-weight: lighter;
  }
  .pagIndex .info .un {
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
  }
  .pagIndex .info .base {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pagIndex .info .base .txt {
    margin-left: 3px;
    display: flex;
    flex-direction: column;
  }
  .pagIndex .info .base .txt .title {
    font-size: 20px;
  }
  .pagIndex .info .base .txt .resume {
    display: none;
  }
  .pagIndex .info .base .pic {
    display: flex;
    margin-left: 7px;
  }
  .pagIndex .info .base .pic img {
    border: solid 5px #CCD5D9;
    width: 250px;
    height: 250px;
  }
  .pagIndex .puestos {
    text-align: center;
    grid-area: puestos;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
  }
  .pagIndex .puestos a iframe {
    border: solid 5px #CCD5D9;
    width: 130px;
    height: 150px;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .pagIndex .puestos a iframe .rank a .west {
    height: 230px;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .pagIndex .puestos .puestos__txt {
    font-family: FranklinGothic2;
    font-weight: bolder;
    color: #071D26;
    font-size: small;
  }
  .pagIndex .info2 {
    grid-area: info2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "new1 new2" "new3 new4";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .pagIndex .info2 .new1 {
    grid-area: new1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .pagIndex .info2 .new2 {
    grid-area: new2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    transition: padding 0.5s;
    cursor: pointer;
  }
  .pagIndex .info2 .new3 {
    grid-area: new3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    transition: padding 0.5s;
    cursor: pointer;
  }
  .pagIndex .info2 .new4 {
    grid-area: new4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    transition: padding 0.5s;
    cursor: pointer;
  }
  .pagIndex .new__pic {
    display: flex;
    justify-content: center;
  }
  .pagIndex .new__pic img {
    border: solid 5px #CCD5D9;
    width: 125px;
  }
  .pagIndex .new__txt {
    display: flex;
    text-align: center;
    color: #071D26;
    font-family: FranklinGothic;
    font-size: 10px;
    transition: color 0.5s;
  }
  .pagIndex .new__txt:hover {
    color: #052A43;
  }
  .pagIndex .wcf {
    display: none;
    grid-area: part;
  }
  .pagIndex .wcf h1 {
    color: #071D26;
    font-family: FranklinGothic;
  }
  .pagIndex .wcf .wcf2 {
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-rows: "partido" "stats";
  }
  .pagIndex .wcf .wcf2 .partidos {
    grid-area: partido;
    width: 748px;
    height: 420px;
  }
  .pagIndex .wcf .wcf2 .partidos img {
    width: 598.4px;
    height: 420px;
    border: solid 5px #CCD5D9;
  }
  .pagIndex .wcf .wcf2 .partidos .games h5 {
    -webkit-text-stroke: 0.5px #071D26;
    color: #F2F2F2;
    font-weight: bolder;
    background-color: black;
  }
  .pagIndex .wcf .wcf2 .partidos .games p {
    -webkit-text-stroke: 0.25px #071D26;
    color: #F2F2F2;
    font-weight: bolder;
    background-color: black;
  }
  .pagIndex .wcf .wcf2 .stats {
    grid-area: stats;
  }
  .pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card {
    width: 150px;
    overflow: hidden;
  }
  .pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card .card-body h5 {
    font-weight: bolder;
  }
  .pagIndex .wcf .wcf2 .stats .carousel-inner .carousel-item .card .card-body p {
    font-weight: bolder;
  }
}
.pagNoticias {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1.5fr;
  grid-template-rows: 150px 7fr 3fr;
  grid-template-areas: "titulo titulo titulo" "notPrin notPrin notSec" "notTer notTer notTer";
  height: 160vh;
}
.pagNoticias .titulo {
  grid-area: titulo;
  color: #F2F2F2;
  text-align: start;
  font-family: Impact;
  font-style: italic;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #071D26;
}
.pagNoticias .titulo h2 {
  font-size: 80px;
  margin-left: 15px;
  font-weight: lighter;
}
.pagNoticias .notPrin {
  grid-area: notPrin;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.pagNoticias .notPrin a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notPrin a img {
  border: solid 5px #CCD5D9;
  display: inline;
  height: 500px;
}
.pagNoticias .notPrin h1 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 40px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notPrin h1:hover {
  color: #052A43;
}
.pagNoticias .notSec {
  grid-area: notSec;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "new1" "new2";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pagNoticias .notSec .new1 {
  grid-area: new1;
}
.pagNoticias .notSec .new1 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notSec .new1 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notSec h2 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notSec .new2 {
  grid-area: new2;
}
.pagNoticias .notSec .new2 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notSec .new2 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notTer {
  grid-area: notTer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "new1 new2 new3 new4";
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pagNoticias .notTer .new1 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notTer .new1 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notTer .new1 h2 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notTer .new1 h2:hover {
  color: #052A43;
}
.pagNoticias .notTer .new2 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notTer .new2 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notTer .new2 h2 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notTer .new2 h2:hover {
  color: #052A43;
}
.pagNoticias .notTer .new3 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notTer .new3 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notTer .new3 h2 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notTer .new3 h2:hover {
  color: #052A43;
}
.pagNoticias .notTer .new4 a {
  display: flex;
  justify-content: center;
}
.pagNoticias .notTer .new4 a img {
  border: solid 5px #CCD5D9;
  display: inline;
  width: 267px;
}
.pagNoticias .notTer .new4 h2 {
  font-family: FranklinGothic;
  color: #071D26;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s;
}
.pagNoticias .notTer .new4 h2:hover {
  color: #052A43;
}

@media screen and (max-width: 360px) {
  .pagNoticias {
    display: grid;
    grid-template-rows: 100px 5fr 3fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "notPrin" "notSec" "notTer";
    height: 200vh;
  }
  .pagNoticias .titulo {
    grid-area: titulo;
    color: #F2F2F2;
    text-align: start;
    font-family: Impact;
    font-style: italic;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #071D26;
  }
  .pagNoticias .titulo h2 {
    font-size: 35px;
    margin-left: 10px;
    font-weight: lighter;
  }
  .pagNoticias .notPrin {
    grid-area: notPrin;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }
  .pagNoticias .notPrin a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notPrin a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 280px;
    height: 200px;
  }
  .pagNoticias .notPrin h1 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notPrin h1:hover {
    color: #052A43;
  }
  .pagNoticias .notSec {
    display: none;
    grid-area: notSec;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "new1 new2";
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .pagNoticias .notSec .new1 {
    grid-area: new1;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    width: 140px;
    transition: padding 0.5s;
  }
  .pagNoticias .notSec .new1 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notSec .new1 a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 140px;
    height: 100px;
  }
  .pagNoticias .notSec .new1:hover {
    padding: 10px;
  }
  .pagNoticias .notSec h2 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notSec .new2 {
    grid-area: new2;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    width: 140px;
    transition: padding 0.5s;
  }
  .pagNoticias .notSec .new2 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notSec .new2 a img {
    width: 140px;
    height: 100px;
    border: solid 2px #CCD5D9;
    display: inline;
  }
  .pagNoticias .notSec .new2:hover {
    padding: 10px;
  }
  .pagNoticias .notTer {
    display: none;
    grid-area: notTer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "new1 new2" "new3 new4";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .pagNoticias .notTer .new1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .pagNoticias .notTer .new1 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notTer .new1 a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 140px;
    height: 100px;
  }
  .pagNoticias .notTer .new1 h2 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notTer .new1 h2:hover {
    color: #052A43;
  }
  .pagNoticias .notTer .new1:hover {
    padding: 10px;
  }
  .pagNoticias .notTer .new2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .pagNoticias .notTer .new2 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notTer .new2 a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 140px;
    height: 100px;
  }
  .pagNoticias .notTer .new2 h2 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notTer .new2 h2:hover {
    color: #052A43;
  }
  .pagNoticias .notTer .new2:hover {
    padding: 10px;
  }
  .pagNoticias .notTer .new3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .pagNoticias .notTer .new3 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notTer .new3 a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 140px;
    height: 100px;
  }
  .pagNoticias .notTer .new3 h2 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notTer .new3 h2:hover {
    color: #052A43;
  }
  .pagNoticias .notTer .new3:hover {
    padding: 10px;
  }
  .pagNoticias .notTer .new4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .pagNoticias .notTer .new4 a {
    display: flex;
    justify-content: center;
  }
  .pagNoticias .notTer .new4 a img {
    border: solid 2px #CCD5D9;
    display: inline;
    width: 140px;
    height: 100px;
  }
  .pagNoticias .notTer .new4 h2 {
    font-family: FranklinGothic;
    color: #071D26;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.5s;
  }
  .pagNoticias .notTer .new4 h2:hover {
    color: #052A43;
  }
  .pagNoticias .notTer .new4:hover {
    padding: 10px;
  }
}
.pagPlantilla {
  display: grid;
  grid-template-rows: 150px 4fr;
  grid-template-areas: "tituloNoticias" "cards";
  height: 200vh;
}
.pagPlantilla .titulo {
  grid-area: tituloNoticias;
  color: #F2F2F2;
  text-align: start;
  font-family: Impact;
  font-style: italic;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #071D26;
}
.pagPlantilla .titulo h1 {
  font-size: 80px;
  margin-left: 15px;
  font-weight: lighter;
}
.pagPlantilla .players {
  z-index: 1;
  grid-area: cards;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
.pagPlantilla .players .card {
  z-index: 50;
  height: 450px;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.logo img {
  width: 150px;
  height: 150px;
  margin: 0;
  padding: 0;
}

.pag {
  margin-left: 125px;
  margin-right: 125px;
  background-color: #F2F2F2;
  border: solid 5px #CCD5D9;
  overflow: hidden;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0%;
}

.barraNav {
  z-index: 500;
}
.barraNav nav {
  width: 100%;
  overflow: hidden;
}
.barraNav nav ul {
  display: flex;
  justify-content: stretch;
  padding: 0 50px;
  list-style-type: none;
}
.barraNav nav ul li {
  justify-self: stretch;
  width: 100%;
}

.barraNav nav ul li a {
  z-index: 500;
  background-color: #071D26;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #F2F2F2;
  list-style: none;
  font-family: Impact;
  font-style: italic;
  font-size: 25px;
  border: solid 5px #F2F2F2;
  padding: 20px 30px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.barraNav nav ul li a:hover {
  background-color: #052A43;
}

footer a {
  text-decoration: none;
  margin-left: 125px;
  font-family: Impact;
  font-style: italic;
  font-size: 25px;
  font-size: x-small;
}

@font-face {
  font-family: Impact;
  src: url("../fonts/impact.ttf");
}
@font-face {
  font-family: FranklinGothic;
  src: url("../fonts/Franklin Gothic Condensed.ttf");
}
@font-face {
  font-family: FranklinGothic2;
  src: url(../fonts/Franklin\ Gothic\ Book\ Regular.ttf);
}
@media screen and (max-width: 360px) {
  .logo img {
    width: 70px;
    height: 70px;
  }
  .pag {
    margin-left: 15px;
    margin-right: 15px;
    border: solid 2px #CCD5D9;
  }
  .barraNav nav ul {
    padding: 0 5px;
  }
  .barraNav nav ul li {
    justify-self: stretch;
    width: 100%;
  }
  .barraNav nav ul li a {
    font-size: 15px;
    border: solid 3px #F2F2F2;
    padding: 5px 5px;
  }
  footer a {
    margin-left: 25px;
    font-size: x-small;
  }
}/*# sourceMappingURL=style.css.map */