.pagNoticias{
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1.5fr;
    grid-template-rows: 150px 7fr 3fr;
    grid-template-areas:
    "titulo titulo titulo"
    "notPrin notPrin notSec"
    "notTer notTer notTer";
    height: 160vh;
    .titulo{
        grid-area: titulo;
        color:#F2F2F2; 
        text-align:start;
        font-family:Impact;
        font-style: italic;
        line-height: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: map-get($colores , colorPrimario); 
        h2{
            font-size: 80px;
            margin-left: 15px;
            font-weight: lighter;
        }
    }
    .notPrin{
        grid-area: notPrin;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        a{
            display: flex;
            justify-content: center;
            img{
                border: solid 5px map-get($colores , colorSecundario); 
                display: inline;
                height: 500px;
            }
        }
        h1{
            font-family:FranklinGothic;
            color: map-get($colores , colorPrimario); 
            font-size: 40px;
            text-decoration: none;
            transition: color 0.5s;
            &:hover{
                color: map-get($colores , colorTerceario);
            }
        }
    }
    .notSec{
        grid-area: notSec;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "new1"
        "new2";
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .new1{
            grid-area: new1;
            @extend %noticia;
            a{
                display: flex;
                justify-content: center;
                img{
                    border: solid 5px map-get($colores , colorSecundario); 
                    display: inline; 
                    width: 267px;
                }
            }
        }
        h2{
            font-family:FranklinGothic;
            color: map-get($colores , colorPrimario); 
            font-size: 20px;
            text-decoration: none;
            transition: color 0.5s;
        }
        .new2{
            grid-area: new2;
            @extend %noticia;
            a{
                display: flex;
                justify-content: center;
                img{
                    border: solid 5px map-get($colores , colorSecundario ); 
                    display: inline;
                    width: 267px;
                }
            }
        }
    }
    .notTer{
        grid-area: notTer;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "new1 new2 new3 new4";
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .new1{
            @extend %noticia;
            a{
                display: flex;
                justify-content: center;
                img{
                    border: solid 5px map-get($colores , colorSecundario ); 
                    display: inline;
                    width: 267px;
                }
            }
            h2{
                font-family:FranklinGothic;
                color: map-get($colores , colorPrimario); 
                font-size: 20px;
                text-decoration: none;
                transition: color 0.5s;
                &:hover{
                    color: map-get($colores , colorTerceario);
                }
            }
        }
        .new2{
            @extend %noticia;
            a{
                display: flex;
                justify-content: center;
                img{
                    border: solid 5px map-get($colores , colorSecundario); 
                    display: inline;
                    width: 267px;
                }
            }
            h2{
                font-family:FranklinGothic;
                color: map-get($colores , colorPrimario); 
                font-size: 20px;
                text-decoration: none;
                transition: color 0.5s;
                &:hover{
                    color: map-get($colores , colorTerceario);
                }
            }
        }
        .new3{
            @extend %noticia;
            a{
                display: flex;
                justify-content: center;
                img{
                    border: solid 5px map-get($colores , colorSecundario); 
                    display: inline;
                    width: 267px;
                }
            }
            h2{
                font-family:FranklinGothic;
                color: map-get($colores , colorPrimario); 
                font-size: 20px;
                text-decoration: none;
                transition: color 0.5s;
                &:hover{
                    color: map-get($colores , colorTerceario);
                }
            }
        }
        .new4{
            @extend %noticia;
            a{
                display: flex;
                justify-content: center;
                img{
                    border: solid 5px map-get($colores , colorSecundario); 
                    display: inline;
                    width: 267px;
                }
            }
            h2{
                font-family:FranklinGothic;
                color: map-get($colores , colorPrimario); 
                font-size: 20px;
                text-decoration: none;
                transition: color 0.5s;
                &:hover{
                    color: map-get($colores , colorTerceario);
                }
            }
        }
    }
}

@media screen and (max-width: 360px){
    .pagNoticias{
        display: grid;
        grid-template-rows: 100px 5fr 3fr 4fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "notPrin"
        "notSec"
        "notTer";
        height: 200vh;
        .titulo{
            grid-area: titulo;
            color:#F2F2F2; 
            text-align:start;
            font-family:Impact;
            font-style: italic;
            line-height: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: map-get($colores , colorPrimario); 
            h2{
                font-size: 35px;
                margin-left: 10px;
                font-weight: lighter;
            }
        }
        .notPrin{
            grid-area: notPrin;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            a{
                display: flex;
                justify-content: center;
                img{
                    border: solid 2px map-get($colores , colorSecundario); 
                    display: inline;
                    width: 280px;
                    height: 200px;
                }
            }
            h1{
                font-family:FranklinGothic;
                color: map-get($colores , colorPrimario); 
                font-size: 20px;
                text-decoration: none;
                transition: color 0.5s;
                &:hover{
                    color: map-get($colores , colorTerceario);
                }
            }

        }
        .notSec{
            display:none;
            grid-area: notSec;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "new1 new2";
            display: flex;
            flex-direction: row; 
            justify-content: space-evenly;
            .new1{
                grid-area: new1;
                display: flex;
                flex-direction: column;
                text-align: center;
                cursor: pointer;
                width: 140px;
                transition: padding 0.5s;
                a{
                    display: flex;
                    justify-content: center;
                    img{
                        border: solid 2px map-get($colores , colorSecundario); 
                        display: inline; 
                        width: 140px;
                        height: 100px;
                    }
                }
                &:hover{
                    padding:10px;
                }
            }
            h2{
                font-family:FranklinGothic;
                color: map-get($colores , colorPrimario); 
                font-size: 15px;
                text-decoration: none;
                transition: color 0.5s;
            }
            .new2{
                grid-area: new2;
                display: flex;
                flex-direction: column;
                text-align: center;
                cursor: pointer;
                width: 140px;
                transition: padding 0.5s;
                a{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 140px;
                        height: 100px;
                        border: solid 2px map-get($colores , colorSecundario); 
                        display: inline;
                    }
                }
                &:hover{
                    padding:10px;
                }
            }
        }
        .notTer{
            display:none;
            grid-area: notTer;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "new1 new2"
            "new3 new4";
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .new1{
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 140px;
                cursor: pointer;
                transition: padding 0.5s;
                a{
                    display: flex;
                    justify-content: center;
                    img{
                        border: solid 2px map-get($colores , colorSecundario); 
                        display: inline;
                        width: 140px;
                        height: 100px;
                    }
                }
                h2{
                    font-family:FranklinGothic;
                    color: map-get($colores , colorPrimario); 
                    font-size: 12px;
                    text-decoration: none;
                    transition: color 0.5s;
                    &:hover{
                        color: map-get($colores , colorTerceario);
                    }
                }
                &:hover{
                    padding: 10px;
                }
            }
            .new2{
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 140px;
                cursor: pointer;
                transition: padding 0.5s;
                a{
                    display: flex;
                    justify-content: center;
                    img{
                        border: solid 2px map-get($colores , colorSecundario); 
                        display: inline;
                        width: 140px;
                        height: 100px;
                    }
                }
                h2{
                    font-family:FranklinGothic;
                    color: map-get($colores , colorPrimario); 
                    font-size: 12px;
                    text-decoration: none;
                    transition: color 0.5s;
                    &:hover{
                        color: map-get($colores , colorTerceario);
                    }
                }
                &:hover{
                    padding: 10px;
                }
            }
            .new3{
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 140px;
                cursor: pointer;
                transition: padding 0.5s;
                a{
                    display: flex;
                    justify-content: center;
                    img{
                        border: solid 2px map-get($colores , colorSecundario); 
                        display: inline;
                        width: 140px;
                        height: 100px;
                    }
                }
                h2{
                    font-family:FranklinGothic;
                    color: map-get($colores , colorPrimario); 
                    font-size: 12px;
                    text-decoration: none;
                    transition: color 0.5s;
                    &:hover{
                        color: map-get($colores , colorTerceario);
                    }
                }
                &:hover{
                    padding: 10px;
                }
            }
            .new4{
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 140px;
                cursor: pointer;
                transition: padding 0.5s;
                a{
                    display: flex;
                    justify-content: center;
                    img{
                        border: solid 2px map-get($colores , colorSecundario); 
                        display: inline;
                        width: 140px;
                        height: 100px;
                    }
                }
                h2{
                    font-family:FranklinGothic;
                    color: map-get($colores , colorPrimario); 
                    font-size: 12px;
                    text-decoration: none;
                    transition: color 0.5s;
                    &:hover{
                        color: map-get($colores , colorTerceario);
                    }
                }
                &:hover{
                    padding: 10px;
                }
            }
        }
    }
}