.pagPlantilla{
    display: grid;
    grid-template-rows: 150px 4fr;
    grid-template-areas:
    "tituloNoticias"
    "cards";
    height: 100vh;
    .titulo{
        grid-area: tituloNoticias;
        color:#F2F2F2; 
        text-align:start;
        font-family:Impact;
        font-style: italic;
        line-height: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: map-get($colores , colorPrimario); 
        h1{
            font-size: 80px;
            margin-left: 15px;
            font-weight: lighter;
        }
    }
    .players{
        grid-area: cards;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
        .card{
            height: 450px;
        }
    }
}
